include ../global/advantages.pug

// Basic section 
.basic.section
  = '\n'
  | Race 
  input.wide(name='attr_race' type='text')
  = '\n'
  |   Gender 
  input.wideish(name='attr_gender' type='text')
  = '\n'
  |   Height 
  input.wideish(name='attr_height' type='text')
  = '\n'
  |   Weight 
  input.wideish(name='attr_weight' type='number')
  = '\n'
  |   Age 
  input.wideish(name='attr_age' type='number')
  .horizontal-flex
    // Advantages and Disadvantages 
    .advantages.flex-stack
      input(name='attr_advantage_total_CP' type='hidden' value='0')
      .advantage-row.table-header
        div Advantage
        .count-placeholder
        .CP CP
      each advantage in advantages
        .advantage-row
          div= advantage.description
          if advantage.minusAdvantageFieldName
            input(name=advantage.minusAdvantageFieldName type='checkbox' value='1' hidden='true')
          select.skillexpertise(name=advantage.fieldName)
            option(value=' ')
            each optionValue in advantage.skillExpertiseOptions || [-1, 1, 2, 3]
              option(value=optionValue)=optionValue
          span.CP(name=advantage.cpFieldName)
      fieldset.repeating_extraadvantage
        input.extraadvantagename(name='attr_extraadvantagename' type='text')
        input.extraadvantageCP(name='attr_extraadvantageCP' type='number')
        span.CP.extraadvantageCPdescription(name='attr_extraadvantageCPdescription')
    = '\n'
    | &emsp; &emsp;
    // Feats 
    .flex-stack
      input(name='attr_feat_total_CP' type='hidden' value='0')
      input(name='attr_feat_total_single_CP' type='hidden' value='0')
      .table-header
        .featextraordinary Extr
        .featname Epic Feat
        .featCP CP
      fieldset.repeating_feat
        input.featextraordinary(name='attr_featextraordinary' type='checkbox' value='1')
        input.featname(name='attr_featname' type='text')
        input.featCP(name='attr_featCP' value='' type='number')
