include ../global/advantages.pug

// Basic section
.basic.section.basic-tab
  .advantages-and-feats
    .power-stats-and-avatars
      include ../powerStats/editableTable.pug
      include ../avatars/avatars.pug
    .character-attributes-and-stats
      .character-attributes
        .character-attributes.epic-table-header-grid
          .character-attributes-name-grid Attr.
          .character-attributes-value-grid Value
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid Race
          input.character-attributes-value-grid(name='attr_race' type='text')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid Gender
          input.character-attributes-value-grid(name='attr_gender' type='text')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid Height
          input.character-attributes-value-grid(name='attr_height' type='text')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid Weight
          input.character-attributes-value-grid(name='attr_weight' type='number')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid Age
          input.character-attributes-value-grid(name='attr_age' type='number')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid IQ
          input.character-attributes-value-grid(name='attr_IQ' type='number' value='1')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid DX
          input.character-attributes-value-grid(name='attr_DX' type='number' value='1')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid BR
          input.character-attributes-value-grid(name='attr_BR' type='number' value='1')
        .character-attributes-table(data-epic-table-name="character-attributes")
          .character-attributes-name-grid CP Cost
          input(name='attr_displayed_attribute_CP' type='hidden' value='-2')
          span.character-attributes-value-grid.CP(name='attr_displayed_attribute_CP')
    // Advantages and Disadvantages 
    .advantages
      input(name='attr_advantage_total_CP' type='hidden' value='0')
      .advantage.epic-table-header-grid
        .advantage-grid Advantage
        .count-placeholder-grid
        .CP-grid CP
      each advantage in advantages
        .advantage-table(data-epic-table-name="advantage")
          div.advantage-grid= advantage.description
          if advantage.minusAdvantageFieldName
            input(name=advantage.minusAdvantageFieldName type='checkbox' value='1' hidden='true')
          select.skillexpertise-grid(name=advantage.fieldName)
            option(value=' ')
            each optionValue in advantage.skillExpertiseOptions || [-1, 1, 2, 3]
              option(value=optionValue)=optionValue
          span.CP-grid(name=advantage.cpFieldName)
      fieldset.repeating_extraadvantage
        input.extraadvantagename-grid(name='attr_extraadvantagename' type='text')
        input.extraadvantageCP-grid(name='attr_extraadvantageCP' type='number')
        span.CP-grid.extraadvantageCPdescription-grid(name='attr_extraadvantageCPdescription')
    // Feats 
    .feats
      input(name='attr_feat_total_CP' type='hidden' value='0')
      input(name='attr_feat_total_single_CP' type='hidden' value='0')
      .feat.epic-table-header-grid
        .featextraordinary-grid Extr
        .featname-grid Feat/Special Abilities
        .CP-grid CP
      fieldset.repeating_feat
        input.featextraordinary-grid(name='attr_featextraordinary' type='checkbox' value='1')
        input.featname-grid(name='attr_featname' type='text')
        input.CP-grid(name='attr_featCP' value='' type='number')
